@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for dark sidebar */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.2);
  border-radius: 2px;
}
